* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    overflow-y: hidden;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
    margin-bottom: 20px;
}

input[type="number"] {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#attempts {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.image-block {
    display: none;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.image-block > img {
    display: block;
    margin: 0 auto;
    border: 2px solid blue;
    width: 300px;
    object-fit: cover;
}

.random-image {
    display: block;
    margin: 0 auto;
    border: 2px solid blue;
    width: 300px;
    object-fit: cover;
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    input[type="number"] {
        width: 120px;
        font-size: 14px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .container {
        padding: 25px;
    }
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 18px;
    }
    input[type="number"] {
        width: 120px;
        font-size: 16px;
    }
    button {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media (min-width: 769px) {

    .container {
        padding: 30px;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 20px;
    }

    input[type="number"] {
        width: 150px;
        font-size: 18px;
    }

    button {
        padding: 12px 24px;
        font-size: 18px;
    }

}
